<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth Basics: Sign Up</title>
</head>

<body>
  <h1>Sign Up</h1>
  <form method="POST">
    <label for="username">Username</label>
    <input name="username" minlength="3" maxlength="100" placeholder="username" type="text" required />
    <label for="password">Password</label>
    <input name="password" minlength="8" maxlength="30" type="password" required />
    <button>Sign Up</button>
  </form>
</body>

</html>